<%- include('../partials/header') %>

<h2>My Shopping Cart</h2>

<ul>
   <% order.items.forEach(item => { %>
        <li><%= item.name %></li>
    <% })%>

</ul>

<form method="POST" action="/orders/<%= user._id %>?_method=POST">
    <button>Checkout</button>
</form>    
<%- include('../partials/footer') %>